<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>location_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{840,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,467}}</string>
                <key>sourceSize</key>
                <string>{840,467}</string>
            </dict>
            <key>location_legend_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>location_legend_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>location_line_diagonal_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,696},{221,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,223}}</string>
                <key>sourceSize</key>
                <string>{221,223}</string>
            </dict>
            <key>location_line_diagonal_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,471},{221,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,223}}</string>
                <key>sourceSize</key>
                <string>{221,223}</string>
            </dict>
            <key>location_line_horizontal_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,471},{465,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,10}}</string>
                <key>sourceSize</key>
                <string>{465,10}</string>
            </dict>
            <key>location_line_horizontal_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{465,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,10}}</string>
                <key>sourceSize</key>
                <string>{465,10}</string>
            </dict>
            <key>location_line_vertical_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,14},{10,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,265}}</string>
                <key>sourceSize</key>
                <string>{10,265}</string>
            </dict>
            <key>location_line_vertical_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{10,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,265}}</string>
                <key>sourceSize</key>
                <string>{10,265}</string>
            </dict>
            <key>location_point_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>location_point_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>location.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58597ef93ad189fb0e9dd9cb9cc9ae59$</string>
            <key>textureFileName</key>
            <string>location.png</string>
        </dict>
    </dict>
</plist>
