<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zan_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,810},{162,162}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{162,162}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{182,188}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{182,188}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,812},{154,166}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{154,166}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,810},{156,150}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,62},{156,150}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{80,104}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,75},{80,104}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{266,264}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{266,264}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{266,268}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{266,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,542},{266,266}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{266,266}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,268},{264,262}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{264,262}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,268},{260,260}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{260,260}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>zan_boom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{260,260}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{260,260}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c341ec7ac79fbf7e7c162494f50cbd:1/1$</string>
            <key>textureFileName</key>
            <string>zan.png</string>
        </dict>
    </dict>
</plist>
