<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_buzhang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,82}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>btn_eat_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>btn_gang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,174},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>btn_pass_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,177},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>btn_peng_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,86},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>btn_win_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,353},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>decision_sign_cs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,262},{73,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>decision_sign_cs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,265},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>decision_sign_cs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,336},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>decision_sign_cs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{133,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,91}}</string>
                <key>sourceSize</key>
                <string>{133,91}</string>
            </dict>
            <key>decision_sign_cs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>decision_sign_cs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{142,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,74}}</string>
                <key>sourceSize</key>
                <string>{142,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changshamjbtn.png</string>
            <key>size</key>
            <string>{253,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b854d551f3b5fbf0579604a1b4c44103:1/1$</string>
            <key>textureFileName</key>
            <string>changshamjbtn.png</string>
        </dict>
    </dict>
</plist>
