<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{108,0},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,71}</string>
                <key>spriteSourceSize</key>
                <string>{55,71}</string>
                <key>textureRect</key>
                <string>{{53,0},{55,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{0,77},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,109}</string>
                <key>spriteSourceSize</key>
                <string>{111,109}</string>
                <key>textureRect</key>
                <string>{{80,77},{111,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{53,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tools.png</string>
            <key>size</key>
            <string>{191,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66b6942c0d7c194152ec8d32747d2806:84101593764148c6472a3929389ded57:dcb141bd8fe276f0e10595b12fb49e32$</string>
            <key>textureFileName</key>
            <string>tools.png</string>
        </dict>
    </dict>
</plist>
